@use './../../_variables' as variables
main, section
    display: flex
    flex-direction: column
main
    height: 100%
    font-size: 1rem
    font-weight: 500
    padding: 4rem 1rem
    margin-bottom: auto
    justify-content: center

section#error
    gap: 1rem
    header
        width: 100%
        font-weight: 600
        small
            color: variables.$clr-primary2
            font-size: inherit
        h1
            font-size: 2.25rem
    p
        color: variables.$clr-gray-600
    .buttons
        margin-top: 2rem
        width: 100%
        display: flex
        flex-direction: column
        gap: .75rem
    