@use './../../_variables.sass' as variables
section#contact
    margin-inline: auto
    max-width: 45rem
    display: flex
    flex-direction: column
    align-items: stretch
    gap: 3rem
    header
        display: flex
        flex-direction: column
        gap: 1rem
        p
            color: variables.$clr-gray-600
    .wrapper
        form
            display: flex
            flex-wrap: wrap
            gap: 1.5rem
            div
                flex-direction: column
                display: inline-flex
                justify-content: space-between
                width: 100%
                gap: 0.375rem
                label
                    colo: variables.$clr-gray-700
                    font-size: .875rem
                input, textarea
                    caret-color: variables.$clr-gray-900
                    padding: .625rem .875rem
                    border: 1px solid #D0D5DD
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05)
                    border-radius: .5rem
                    font-family: inherit
                    font-weight: 400
                    font-size: 1rem
                    &::placeholder
                        font-family: inherit
                        color: variables.$clr-gray-500
                        display: none
                    &:focus
                        outline: 1px solid variables.$clr-primary3
                .error-text
                    display: none
                    color: #F83F23
                textarea
                    resize: none
                &.agree
                    flex-direction: row
                    align-items: flex-start
                    label
                        color: variables.$clr-gray-600
                &.error
                    input, textarea
                        border-color: #F83F23
                        &:focus
                            outline-width: .2rem   
                            outline-color: #F83F2344
                            //outline-offset: .125rem
                    .error-text
                        display: block

            button
                @include variables.button
                @include variables.primaryButton6
                width: 100%
                transition: all 500ms
                &:hover
                    background-color: #175CD3
                &:focus
                    outline: .375rem solid #D1E9FF
                &.disabled
                    background-color: #B2DDFF !important
                    pointer-events: none !important
@media screen and ( min-width: 768px )
    section#contact
        .wrapper
            form
                div
                    &:nth-child(1), &:nth-child(2)
                        width: 48%