@use './../../_variables' as variables
main, section, section#links, section#links>.links
    display: flex
    flex-direction: column
main
    font-weight: 500
    padding: 4rem 1rem
    gap: 2rem
    text-align: center
section
    align-items: center
section#profile, section#links, section#links>.links
    gap: 1.5rem
section#links
    font-size: 14px
    .links
        width: 100%
        a
            padding: 1.5rem 2rem
            background-color: variables.$clr-gray-200
            border-radius: .5rem
    .socials
        display: flex
        padding: 1.5rem 0
        gap: 1.5rem
        justify-content: center