@use './../../_variables' as variables
main, section, section#links, section#links>.links
    display: flex
    flex-direction: column
main
    font-weight: 500
    padding: 4rem 1rem 0
    gap: 2rem
section
    align-items: center
section#profile, section#links, section#links>.links
    gap: 1.5rem
section#profile
    text-align: center
    position: relative
    .profile-pic
        cursor: pointer
        width: 5.5rem
        height: 5.5rem
        position: relative
        img
            border-radius: 50%
            pointer-events: none
            width: 100%
            height: 100%
            object-fit: cover
        &::after
            border-radius: 50%
            padding: .25rem
            display: flex
            justify-content: center
            align-items: flex-end
            content: url("/images/Icon (1).svg")
            position: absolute
            top: 0
            left: 0
            pointer-events: none
            background-color: variables.$clr-pic-overlay
            opacity: 0
            transition: opacity 500ms
            width: 100%
            height: 100%
        &:hover::after
            opacity: 1

    .action_button
        display: inline-flex
        cursor: pointer
        position: absolute
        top: 0
        right: 0
        transform: translateY(-50%)
section#links
    font-size: 14px
    .links
        width: 100%
        a
            padding: 1.5rem 2rem
            background-color: variables.$clr-gray-200
            border-radius: .5rem
            -webkit-tap-highlight-color: variables.$clr-gray-300
            &:focus
                border: 1px solid variables.$clr-gray-400
    .socials
        display: flex
        padding: 1.5rem 0
        gap: 1.5rem
        justify-content: center
        span
            cursor: pointer

@media screen and ( min-width: 1024px )
    section#links
        font-size: 1.125rem
        font-weight: 500
        .links
            width: 100%
            text-align: center
            a
                &:hover
                    background-color: variables.$clr-gray-300
    section#profile
        .action_button
            right: 15%
            &:hover
                rect:nth-child(1)
                    fill: variables.$clr-gray-300
                path
                    stroke: variables.$clr-gray-500